@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Bitter:400);

html,body {
    height:100%;
    color:#444;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Bitter', serif;
}

body:not(.plush-care) {
  background:center no-repeat fixed url('/images/main-bg.jpg');
  background-size: cover;
}

.portfolio-plushcare {
  background:center no-repeat fixed url('/images/plush-care/pc-paralax.jpeg');
  background-size: cover;
  padding-bottom: 0px;
}

@media (min-width:768px) {
    h1 {
        font-size:68px;
    }
}

a {
    color:#999;
}

a:hover {
    color:#111;
}

.btn,.well,.panel {
    border-radius:0;
}

.btn-danger {
    background-color: #C2A6A6;
    border-color: #C2A6A6;
}

.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover {
  background-color: #C2A6A6;
  border-color: #C2A6A6;
}

.text-danger, a.text-danger {
    color:#C2A6A6;
}

a.text-danger:hover {
  color: #ACAED6;
}

.btn-huge {
    padding:17px 22px;
    font-size:22px;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.bitter {
    font-family: 'Bitter', serif;
}

.icon-bar {
    background-color:#fff;
}

.navbar-trans {
    background-color:#2b2b2b;
    color:#cdcdcd;
    border-width:0;
}

.navbar-trans .navbar-brand, .navbar-trans >.container-fluid .navbar-brand {
    padding: 14px;
    color:#C2A6A6;
}

.navbar-trans li>a:focus,.navbar-trans li.active {
    background-color:#C2A6A6;
    color:#333;
}

.navbar-trans li>a:hover {
    background-color:#C2A6A6;
    color:#fff;
    opacity:0.5;
}

.navbar-trans a{
    color:#cdcdcd;
    letter-spacing:1px;
}

.navbar-trans .form-control:focus {
    border-color: #eee;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: -15px;
    display: block;
    padding: 7px;
    text-align: center;
    z-index:-1
}

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 2em;
    right: 2em;
}

.scroll-up a {
    background-color: rgba(135, 135, 135, 0.5);
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
}

section {
    padding-top:70px;
    padding-bottom:50px;
    min-height:100%;
    min-height:calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.content-placeholder {
    min-height: 100%;
    background-color: #fff;
}

@media (min-width:768px) {
    /* overrides crazy specific style from bootstrap */
    .navbar-nav>li>a.linkedin-icon {
        padding-left: 0px;
    }
    .navbar .container {
        width: auto;
    }
    .v-center {
        height: 50%;
        overflow: visible;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
    .v-center2 {
        /*Similar hack as above, but with padding, works better, sometimes*/
        padding-top: 10%;
        padding-bottom: 10%;
        overflow: visible;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .home-section .v-center {
        height: 70%;
    }
}

#home-section, #section2, #portfolio-overview, #contact-section {
    background-color: rgba(0,0,0,0.1);
    color:#fff;
    font-family: 'Bitter', serif;
}

#section4 {
    background-color: #f6f6f6;
    color:#444;
}

#section3, #about-section {
    background-color: #fff;
}

#section2, #contact-section {
    background-color: rgba(0,0,0,0.7);
}

#portfolio-overview, {
  background-color: rgba(0,0,0,0.3);
}

#portfolio-section{
    background-color: #fff;
}
#portfolio-section.portfolio-plushcare {
    background-color: rgba(0,0,0,0);
    padding-top: 50px;
}

#portfolio-section .splash-screen {
  padding-top: 50px;
  min-height: 100%;
  color: white;
  background-color: rgba(0,0,0,0.7);
}

#portfolio-section .splash-screen h3 {
  color: white;
}

#section6 {
    background-color: #eee;
    min-height:130px;
    padding-top:40px;
    padding-bottom:40px;
}

#section7 {
    background-color: rgba(194, 166, 166, 0.7);
    color: #f6f6f6;
    min-height:130px;
    padding-top:40px;
    padding-bottom:40px;
}

footer {
    background-color:#2b2b2b;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding: 3px;
    color: #C2A6A6;
}

footer .nav>li>a:hover {
    background-color:transparent;
    color:#fff;
}

.spacer {
    padding-top: 40px;
}

.persona-image {
    margin-top: 10px;
}

.panel-default>.panel-heading {
    background-color: #C2A6A6;
}

.panel-default>.panel-heading--grey {
  background-color: #f6f6f6;
}

.img-photo {
    border: solid;
}

.img-hypothesis {
    max-height: 320px;
    /*Center the image*/
    margin-left: auto;
    margin-right: auto;
}

.img-wireframe {
    max-height: 700px;
    /*Center the image*/
    margin-left: auto;
    margin-right: auto;
}

.img-iterations {
    max-height: 550px;
    margin-bottom: 40px;
    /*Center the image*/
    margin-left: auto;
    margin-right: auto;
}

.img-patelco-hifi, .video-patelco {
  max-width: 100%;
}

.mobile-image {
  max-height: 500px;
}

.centered-image {
  display: block;
  /*Center the image*/
  margin-left: auto;
  margin-right: auto;
}

.pc-logo {
  top: -180px;
  position: relative;
  max-height: 80px;
  margin-bottom: -80px;
}

.pc-client-section, .pc-hypothesis-section, .pc-prototype-section {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #fff;
}

.problem-and-solution-section, .problem-statement-and-iterations-section,
.pc-research-section, .pc-persona-section {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #f6f6f6;
}

.pc-research-section {
  padding-bottom: 20px;
}

#home-section h2, #contact-section h2 {
  color: #fff;
}
h2, h3, h4 {
    font-family: 'Bitter', serif;
    color: #000;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 27px;
}

body {
    font-size: 16px;
}

h3.larger {
    font-size: 33px;
}

.quote {
    font-size: 27px;
    border: solid;
    text-align: center;
    color: grey;
    border-color: grey;
}

ul {
    padding-left: 20px;
}

ul.research-findings {
  padding: 15px;
  padding-left: 25px;
  background-color: #fff;
}

ul.survey-results {
  padding: 15px;
  padding-left: 25px;
  background-color: #F6F6F6;
}

.content-placeholder {
    display: none;
}

strong {
  color: #000;
}

.disclaimer {
  font-family: Arial;
  margin-top: 40px;
}

.contact-section p, .about-section p {
  font-size: larger;
}

.survey-summary {
  font-family: Arial;
  border: solid;
  color: grey;
  border-color: grey;
  padding: 10px;
  border-width: thin;
  margin-top: 20px;
  margin-bottom: 30px;
}

/*Font Awesome*/
a .fa, a fa:hover {
  color: white;
}

/*Quotes and Highlighted blocks*/
.highligted-block {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 20px;
  color: #000;
}
/*.highligted-block:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}*/
.highligted-block p {
  display: inline;
}

.quoted-block {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 20px;
  color: #000;
}
.quoted-block:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.quoted-block p {
  display: inline;
}

/*loading stuff*/
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: 8em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em rgb(241, 46, 61);;
  }
  40% {
    box-shadow: 0 2.5em 0 0 rgb(241, 46, 61);
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em rgb(241, 46, 61);
  }
  40% {
    box-shadow: 0 2.5em 0 0 rgb(241, 46, 61);
  }
}
